:root {
  --white: #fff;
  --white-alt: #dae0e6;
  --white-light: #eef0f2;
  --black: #0e0e0e;
  --black-alt: #1e1f26;
  --blue: #3e74ff;
  --border: 1px solid rgba(0, 0, 0, 0.1);
  --t1: rgba(0, 0, 0, 0.4);
  --t2: rgba(0, 0, 0, 0.5);
  --t3: rgba(0, 0, 0, 0.6);
  --t4: rgba(0, 0, 0, 0.7);
  --pointer: pointer;
  --not-allowed: not-allowed;

  --logo-font: "Kenia", cursive;
  --desktop-font: "Poppins", sans-serif;
  --mobile-font: "Noto Sans", sans-serif;
}

.dark {
  --white: #0e0e0e;
  --white-alt: #1e1f26;
  --white-light: #3a3a3a;
  --black: #fff;
  --black-alt: #dae0e6;
  --blue: #3e74ff;
  --border: 1px solid rgba(255, 255, 255, 0.1);
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: var(--desktop-font);
  border: none;
  outline: none;
  list-style: none;
  text-decoration: none;
  scroll-behavior: smooth;
  user-select: none;
}

::selection {
  background-color: var(--blue);
  color: var(--white);
}

html {
  font-size: 62.5%;
}

@media screen and (max-width: 1024px) {
  :root {
    --pointer: default;
    --not-allowed: default;
  }
}

@media screen and (max-width: 768px) {
  *,
  *::before,
  *::after {
    font-family: var(--mobile-font);
  }

  html {
    font-size: 55%;
  }
}

@media screen and (max-width: 425px) {
  html {
    font-size: 55%;
  }
}

@media screen and (max-width: 375px) {
  html {
    font-size: 50%;
  }
}

@media screen and (max-width: 320px) {
  html {
    font-size: 45%;
  }
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 400;
}

a {
  color: unset;
  text-transform: capitalize;
}

body {
  background-color: var(--white-alt);
  width: 100vw;
  height: 100vh;
  overflow-x: hidden;
}

body::-webkit-scrollbar {
  width: 0.5rem;
}

body::-webkit-scrollbar-thumb {
  background-color: var(--black);
  border-radius: 2rem;
}

/* HEADER STARTS HERE */

header {
  width: 100%;
  height: 60px;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 5;
}

.header_container {
  margin: 0 auto;
  max-width: 110rem;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0.5rem 3rem;
  transition: 0.2s;
}

.header_container.scrolled {
  border-bottom: var(--border);
  background-color: var(--white);
  padding: 0.5rem 2rem;
}

.header_container .logo {
  width: 5rem;
  height: 5rem;
}

.logo img {
  width: 100%;
  height: 100%;
}

.header_container nav {
  display: flex;
  align-items: center;
}

nav .nav_links {
  position: relative;
  background-color: transparent;
}

nav .nav_links li {
  display: inline-block;
}

.nav_links li a {
  font-size: 1.5rem;
  margin: 0 1rem;
  color: #fff;
  position: relative;
  font-weight: 600;
}

.nav_links li a::before {
  content: "";
  position: absolute;
  background-color: #fff;
  bottom: -2px;
  width: 0;
  height: 2px;
  border-radius: 2rem;
  transition: width 0.3s;
  left: 0;
  transform-origin: left;
}

.nav_links li a:hover::before {
  width: 100%;
}

.header_container.scrolled .nav_links li a {
  color: var(--black);
}

.header_container.scrolled .nav_links li a::before {
  background-color: var(--black);
}

nav .mode {
  width: 3rem;
  height: 3rem;
  margin-left: 1rem;
  display: grid;
  place-content: center;
  cursor: var(--pointer);
}

@media screen and (max-width: 768px) {
  nav .toggler {
    display: grid;
    place-content: center;
    width: 3.5rem;
    height: 3rem;
    margin-left: 2rem;
    cursor: var(--pointer);
    z-index: 10;
  }

  .toggler span {
    position: relative;
    display: block;
  }

  .toggler span,
  .toggler span::after,
  .toggler span::before {
    width: 3.5rem;
    height: 5px;
    background-color: #fff;
    transition: all 0.3s;
    backface-visibility: hidden;
    border-radius: 2px;
  }

  .header_container.scrolled .toggler span,
  .header_container.scrolled .toggler span::after,
  .header_container.scrolled .toggler span::before {
    background-color: var(--black);
  }

  .header_container.scrolled .toggler.toggle span,
  .header_container.scrolled .toggler.toggle span::after,
  .header_container.scrolled .toggler.toggle span::before {
    background-color: #fff;
  }

  .header_container.scrolled .toggler.toggle span {
    background-color: transparent;
  }

  .toggler span::after,
  .toggler span::before {
    content: "";
    position: absolute;
    left: 0;
  }

  .toggler span::before {
    top: -9px;
  }

  .toggler span::after {
    top: 9px;
  }

  .toggler.toggle span {
    background-color: transparent;
  }

  .toggler.toggle span:before {
    transform: rotate(45deg) translate(5.5px, 5px);
  }

  .toggler.toggle span:after {
    transform: rotate(-45deg) translate(7px, -8px);
  }

  .header_container {
    padding: 0.5rem 2rem;
  }

  nav .nav_links {
    position: fixed;
    right: -100%;
    top: 0;
    background-color: rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(5px);
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 0 2rem;
    transition: right 0.1s;
    transform-origin: right;
  }

  nav .nav_links.active {
    right: 0;
  }

  .nav_links li {
    max-width: 70rem;
    width: 100%;
  }

  .nav_links li:not(:last-child) {
    border-bottom: var(--border);
    border-color: #fff;
  }

  .nav_links li a {
    padding: 2rem 0;
    font-size: 2rem;
    font-weight: 600;
    color: #fff;
    margin: 0;
    display: block;
    height: 100%;
  }

  .header_container.scrolled .nav_links li a {
    color: #fff;
  }

  .nav_links li a::before {
    display: none;
  }
}

/* HEADER ENDS HERE */

.popup {
  position: fixed;
  top: 7rem;
  right: -100%;
  background-color: var(--white);
  max-width: 20rem;
  width: 100%;
  height: 5rem;
  border-radius: 5px;
  box-shadow: 0 3px 5px var(--t2);
  padding: 1rem 2rem;
  z-index: 5;
  display: flex;
  align-items: center;
  transition: 0.2s cubic-bezier(0.6, -0.5, 0.5, 1.3);
}

.popup.active {
  right: 2rem;
}

.popup p {
  font-size: 1.6rem;
  font-weight: 600;
  color: var(--black);
}

section {
  width: 100%;
  height: 100%;
}

section.home {
  background-color: var(--black-alt);
  position: relative;
}

.overlay {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(
    to bottom,
    var(--t4),
    var(--t3),
    var(--t2),
    var(--t1)
  );
  z-index: 1;
}

/* Slider */
.wrapper {
  width: 100%;
  position: relative;
  overflow: hidden;
}

.wrapper .arrow {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  z-index: 2;
  transition: 0.3s;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -ms-transition: 0.3s;
  -o-transition: 0.3s;
}

.arrow.left {
  left: 2.5rem;
  right: auto;
}

.arrow.right {
  right: 2.5rem;
  left: auto;
}

.arrow span {
  cursor: var(--pointer);
}

.arrow span svg {
  cursor: var(--pointer);
  width: 5rem;
  height: 5rem;
}

.slides-container {
  height: 100vh;
  transition: transform 1s cubic-bezier(0.6, -0.5, 0.5, 1.3);
  position: relative;
}

.slide-image {
  height: 100%;
  width: 100%;
  position: absolute;
}

.slide-image .title {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  flex-direction: column;
  align-items: center;
  z-index: 3;
}

.slide-image .title h1 {
  font-size: clamp(5rem, 5vw, 5rem);
  font-weight: 700;
  color: #fff;
}

.slide-image .title p {
  font-size: clamp(2rem, 5vw, 2rem);
  font-weight: 500;
  color: #fff;
}

.slide-image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* Navigation Dots */
.navigation-dots {
  left: 50%;
  transform: translateX(-50%);
  bottom: 1rem;
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
}

.single-dot {
  width: 1.5rem;
  height: 1.5rem;
  margin: 0 1rem;
  border-radius: 50%;
  border: 2px solid #fff;
  cursor: var(--pointer);
  transition: 0.2s;
}

.single-dot.active {
  background: #fff;
}

@media only screen and (max-width: 496px) {
  .wrapper .arrow {
    top: auto;
    bottom: 0;
  }
}

section:not(section#home) {
  height: min-content;
  margin: 0 auto 1rem;
  max-width: 110rem;
}

section .section-container {
  padding: 50px 2rem 1rem;
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 100%;
}

section .section-container > h1 {
  font-size: clamp(4rem, 5vw, 4rem);
  margin: 0;
  font-weight: 700;
  color: var(--black);
}

section.services .section-container > p {
  font-size: 1.5rem;
  color: var(--black-alt);
  opacity: 0.8;
  max-width: 70rem;
  width: 100%;
  text-align: center;
}

.section-container .cards {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  margin-top: 3rem;
  max-width: 70rem;
  width: 100%;
}

.section-container .cards .card {
  width: 100%;
  flex: 1 1 30rem;
  height: 25rem;
  padding: 1rem;
  display: grid;
  place-content: center;
  position: relative;
}

.cards .card .back,
.cards .card .front {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  justify-content: center;
  backface-visibility: hidden;
  cursor: pointer;
  transition: transform 0.8s;
  padding: 1rem 2rem;
  background-color: var(--white);
  border: var(--border);
}

.card .back h1,
.card .front h1 {
  font-size: 2.3rem;
  font-weight: 500;
  color: var(--black);
}

.card .back > p {
  font-size: 13px;
  color: var(--black);
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 4;
  overflow: hidden;
}

.card .back .btn {
  font-size: 1.5rem;
  margin-top: 2rem;
  background-color: var(--white-alt);
  padding: 1rem 2rem;
}

.card .back {
  transform: perspective(800px) rotateY(-180deg);
}

.card:hover .front {
  transform: perspective(800px) rotateY(180deg);
}

.card:hover .back {
  transform: perspective(800px) rotateY(0);
}
